ACME_EMAIL=svarnagaurangdas@gmail.com
BHAVA_CONTENT_ROOT=/opt/bhava/content
BHAVA_PROD_RELEASE_SHA=not-deployed
BHAVA_STAGING_RELEASE_SHA=not-deployed
STAGING_BASIC_AUTH_USER=bhava-review
STAGING_BASIC_AUTH_HASH=REPLACE_WITH_CADDY_HASH
GOOGLE_SITE_VERIFICATION=
BING_SITE_VERIFICATION=
